# Vivado temporary files (exclude)
*.jou
*.log
*.str
*.cache/
*.runs/
*.Xil/
*.ip_user_files/
*.sim/
*.gen/

# Track these (do NOT ignore)
!*.v
!*.vhd
!*.sv
!*.xdc
!*.xci
!*.tcl
!*.bd
# Ignore OS/metadata files
.DS_Store
Thumbs.db