# Vivado project files
*.jou
*.log
*.str
*.xpe
*.xpr
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.gen/
*.runs/
*.tmp/
*.data/
*.Xil/
*.srcs/
*.sdk/
*.hbs/
*.hwdef
*.xsa
*.bit
*.ltx
*.dcp
*.mcs
*.prm

# IP Cache and temporary files
*.ipcache/
*.userprefs
*.zip

# Simulation files
*.pb
*.wdb
*.dir/

# Ignore OS/metadata files
.DS_Store
Thumbs.db